<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet"
	href="materialize/css/materialize.min.css" media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="style/style.css" />
</head>

<body>

	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Detalhes Eventos</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/eventos" class="waves-effect waves-light btn"><i
							class="material-icons left">add_circle_outline</i>Lista de
							Eventos</a></li>

				</ul>
			</div>
		</nav>
	</header>

	<div th:each="evento : ${evento}" class="container detalhesEvento">
		<h5>Detalhes do Evento</h5>
		<div class="row">
			<p>
				Nome:
				<spam th:text="${evento.nome}"></spam>
			</p>
			<p>
				Local:
				<spam th:text="${evento.local}"></spam>
			</p>
			<p>
				Data:
				<spam th:text="${evento.data}"></spam>
			</p>
			<p>
				Horaio:
				<spam th:text="${evento.horario}"></spam>
			</p>
		</div>
	</div>
	<th:block th:include="mensagemValidacao"></th:block>
	<div class="container formConvidado">
		<form method="POST">
			Nome:<input type="text" value="" name="nomeConvidado" /> RG:<input
				type="text" value="" name="rg" />
			<button class="waves-effect waves-light btn" type="submit">Adicionar
				Convidado</button>
		</form>
	</div>


	<table class="container tabelaConvidado">
		<thead>
			<tr>
				<th>Nome Convidado</th>
				<th>RG</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="convidado : ${convidados}">
				<td><spam th:text="${convidado.nomeConvidado}"></spam></td>
				<td><spam th:text="${convidado.rg}"></spam></td>
				<td><a class="waves-effect waves-light btn-small"
					th:href="${(#mvc.url('EC#deletarConvidado').arg(0, convidado.rg)).build()}"
							 ><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>

	</table>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="mateiralize/js/materialize.min.js"></script>
</body>


</html>